# ===============================
# OS Files (macOS / Windows)
# ===============================
.DS_Store
Thumbs.db

# ===============================
# IDE Files (IntelliJ, VS Code, Eclipse, NetBeans)
# ===============================
# IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/

# Eclipse
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

# VS Code
.vscode/

# ===============================
# Java / Maven / Gradle
# ===============================
target/
bin/
out/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# ===============================
# Chrome / WebDriver
# ===============================
chromedriver*
*.exe
*.app/
*.zip

# ===============================
# Selenium test videos and logs
# ===============================
# Allow video files inside test-videos to be tracked
!test-videos/
!test-videos/**


# ===============================
# Docker / Selenoid
# ===============================
selenoid/DockerDesktop/
DockerDesktop/
